DATABASE_URL="postgresql://neondb_owner:npg_D4cvLbjIoMw9@ep-sparkling-morning-agctuasx-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
DISCORD_BOT_TOKEN="MTM4OTU3ODc0MDk0NTc4NDgzMw.GCKQun.I9xxhAjOeGxk7tA9BJToHS4K9jVnh44vHMiRWU"
DISCORD_CLIENT_ID="1389578740945784833"
NEXT_PUBLIC_APP_URL="https://v0-dropsccloudchat-10-3.vercel.app/"
